<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Product Category Registration Form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			asdkjalskdjlas
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/addProductCategory}" th:object="${productCategory}" method="post" class="form-horizontal" role="form">
					<h2>Product Category Registration Form</h2>
					<!-- Prouct Category Name -->
					<div class="form-group">
						<div class="col-sm-9">
							<div class="input-group">
								<span class="input-group-addon" id="sizing-addon2">Product Category Name</span> <input type="text" th:field="*{name}" class="form-control" placeholder="Product Category Name"
									aria-describedby="sizing-addon2" />
							</div>
						</div>
					</div>
					<!-- Submit Button -->
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-lg active">Register</button>
						</div>

					</div>
					<span th:utext="${successMessage}"></span>
				</form>
			</div>
		</div>
		
		
		
		
		
	</div>
</body>
<script>
	$(document).ready(function() {
		$('#saleStartDate').datepicker({
			format : 'dd/mm/yyyy'
		});
		$('#saleEndDate').datepicker({
			format : 'dd/mm/yyyy'
		});
		$('#discontinueDate').datepicker({
			format : 'dd/mm/yyyy'
		});

	});
</script>
</html>